.section-title-wrapper {
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
  color: #2858FF;
  margin-bottom: 30px;

  @media only screen and (max-width: 800px) {
    font-size: 35px;
  }

  @media only screen and (max-width: 500px) {
    font-size: 30px;
  }
}