.schedule-item-wrapper {
  background-color: #4A40DC;
  border: 2px solid #FFFFFF;
  display: flex;
  min-height: 160px;

  @media (max-width: 769px) {
    flex-wrap: wrap;
  }

  &:not(:last-child) {
    margin-bottom: 11px;
  }

  .schedule-item-info {
    //width: 405px;
    width: 385px;
    flex-shrink: 0;
    padding: 25px 40px 25px;
    margin-top: auto;
    margin-bottom: auto;

    @media (max-width: 999px) {
      width: 250px;
      padding: 25px 20px 15px;
    }

    @media (max-width: 769px) {
      width: 100%;
    }

    .schedule-item-info-type-time {
      display: flex;
      align-items: center;
      justify-content: space-between;
      //margin-bottom: 42px;

      @media (min-width: 769px) and (max-width: 999px) {
        flex-direction: column;
        align-items: flex-start;
      }

      .type {
        font-size: 18px;
        font-family: 'Conthrax SemiBold', sans-serif;
        background: #09F5E6;
        border-radius: 10px;
        padding: 5px 24px;
        margin-bottom: 0;

        @media (min-width: 769px) and (max-width: 999px) {
          margin-bottom: 20px;
        }

        &.intro {
          color: #fff;
          background-color: #FF40AD;
        }

        &.pre-session {
          color: #fff;
          background-color: #FF40AD;
          font-size: 16px;
          padding-right: 18px;
          padding-left: 18px;
        }

        &.talks {
          color: #4A40DC;
        }

        &.break {
          background-color: #FF8854;
        }

        &.workshop {
          background-color: #FF008A;
          padding-right: 19px;
          padding-left: 19px;
        }
      }

      .time {
        font-size: 20px;
      }
    }

    .label {
      font-size: 18px;
      margin-bottom: 7px;
      font-weight: 700;
    }

    .author {
      margin-bottom: 0;
    }
  }

  .divider {
    display: flex;
    margin: 40px 65px 40px 41px;
    width: 1px;
    background-color: #14D8E4;
    flex-shrink: 0;

    @media (max-width: 999px) {
      margin: 15px 25px 15px 20px;
    }

    @media (max-width: 769px) {
      display: none;
    }
  }

  .schedule-item-description {
    padding-top: 25px;
    padding-right: 40px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;

    @media (max-width: 1099px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    @media (max-width: 999px) {
      padding-right: 20px;
    }

    @media (max-width: 769px) {
      padding-left: 20px;
    }

    h5 {
      font-family: 'Inter', sans-serif;
      font-weight: 700;
      margin-bottom: 0;
    }

    p {
      font-size: 20px;
      margin-top: 22px;
      margin-bottom: 0;
      line-height: 29px;

      @media (max-width: 899px) {
        font-size: 18px;
        line-height: 25px;
      }
    }
  }
}