.faq-wrapper {
  margin: 0 auto 120px auto;
  position: relative;

  .faq-grid {
    position: absolute;
    top: 40px;
    left: -120px;
    z-index: 0;
  }

  .faq-image {
    position: absolute;
    bottom: -138px;
    right: -35px;
    z-index: 150;
  }

  .faq-content {
    position: relative;
    z-index: 10;
  }

  .title {
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 55px;
  }

  @media only screen and (max-width: 800px) {
    .title { font-size: 45px; }
  }

  @media only screen and (max-width: 500px) {
    .title { font-size: 30px; }
  }
}

