.faq-wrapper {
  margin: 0 auto 120px auto;
  position: relative;
  padding-top: 45px;

  .faq-grid {
    position: absolute;
    top: 40px;
    left: -120px;
    z-index: 0;
  }

  .faq-image {
    position: absolute;
    bottom: -138px;
    right: -35px;
    z-index: 150;

    @media only screen and (max-width: 1300px) {
      z-index: 0;
      width: 300px;
    }

    @media only screen and (max-width: 600px) {
      width: 180px;
      top: -70px;
      right: 10px;
      bottom: auto;
    }
  }

  .faq-content {
    position: relative;
    z-index: 10;
  }

  .title {
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 55px;
  }

  @media only screen and (max-width: 800px) {
    .title { font-size: 45px; }
  }

  @media only screen and (max-width: 500px) {
    .title { font-size: 30px; }
  }
}

