@import 'src/styles/variables';

.footer-wrapper {
  display: flex;
  flex-direction: column;
  background: #2B235E;
  position: relative;

  .footer-top-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 65px 10px;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;

    .logo-wrapper {
      svg { max-width: 190px; }
    }

    .footer-links {
      display: flex;
      align-items: center;

      .footer-link {
        position: relative;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 300;
        padding-right: 10px;
        margin-right: 10px;
        cursor: pointer;
        transition: all 200ms ease-in-out;

        &:hover { color: darken(#FFFFFF, 35); }

        &:not(:last-child) {
          &:after {
            position: absolute;
            right: 0;
            content: '';
            height: 100%;
            width: 1px;
            background: #FFFFFF;
          }
        }
      }
    }

    .footer-socials {
      display: flex;
      align-items: center;

      a {
        svg {
          width: 36px;
          height: 36px;

          path {
            fill: #FFFFFF;
            transition: all 100ms ease-in-out;
          }
        }

        &:hover {
          svg path { fill: darken(#FFFFFF, 20); }
        }

        &:not(:last-child) { margin-right: 22px; }
      }
    }
  }

  .footer-bottom-wrapper {
    background: linear-gradient(90deg, #FF008A 9.46%, #EF8E65 89.34%);

    .footer-bottom-content-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 22px 20px;
      color: #FFFFFF;
      font-size: 20px;
      font-weight: 400;
      max-width: 1300px;
      margin: 0 auto;

      .copy {
        font-size: 20px;
        font-weight: 400;
      }

      .links {
        display: flex;
        align-items: center;

        .bottom-link {
          color: #FFFFFF;
          position: relative;
          transition: all 100ms ease-in-out;

          &:hover  { color: darken(#FFFFFF, 20); }

          &:not(:last-child) {
            margin-right: 10px;
            padding-right: 10px;

            &:after {
              position: absolute;
              right: 0;
              content: '';
              height: 100%;
              width: 1px;
              background: #FFFFFF;
            }
          }
        }
      }
    }
  }
}